@model dormitory.RL

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LivingRoom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingRoom.NumberRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingRoom.NumberRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingRoom.NameDormitory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingRoom.NameDormitory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingRoom.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingRoom.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingRoom.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingRoom.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Info)
        </dd>
        
    </dl>
        <a asp-action="DeleteConfirmed" asp-route-NumberRoom=@Model.LivingRoom.NumberRoom asp-route-NameDormitory=@Model.LivingRoom.NameDormitory>Delete</a>
        <a asp-action="Index" asp-route-NumberBlock=@Model.LivingRoom.NumberBlock asp-route-NameDormitory=@Model.LivingRoom.NameDormitory>Back to List</a>
</div>
