@model IEnumerable<dormitory.Bloсk>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create", "Create", new { NumberFloor=ViewBag.NumberFloor,NameDormitory=ViewBag.NameDormitory })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Electricity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Electricity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N.NameDormitory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Number=item.Number,NameDormitory=item.NameDormitory,NumberFloor=item.NumberFloor }) |
                @Html.ActionLink("Details", "Details", new { Number=item.Number,NameDormitory=item.NameDormitory,NumberFloor=item.NumberFloor }) |
                @Html.ActionLink("Delete", "Delete", new { Number=item.Number,NameDormitory=item.NameDormitory,NumberFloor=item.NumberFloor }) | 
                @Html.ActionLink("Living Rooms","LivingRooms",new { NumberBlock=item.Number,NameDormitory=item.NameDormitory,NumberFloor=item.NumberFloor })
            </td>
        </tr>
}
    </tbody>
</table>
