@model IEnumerable<dormitory.Strike>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.State == "неактивне")
            {
                <tr style="background-color:grey">
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                   <td style="color:black">
                        @Html.DisplayFor(modelItem => item.Employee.Job)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.Student.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            else
            {
              <tr style="background-color:white">
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>   
            }
        }
    </tbody>
</table>
