@model IEnumerable<dormitory.Dormitory>

@{
    ViewData["Title"] = "Index";
}

<h1>Гуртожитки</h1>
<div>
    <h3>Оберіть exel-файл для завантаження</h3>
    @using(Html.BeginForm("Import","Dormitories",FormMethod.Post,new{enctype="multipart/form-data",id="frm-excel"}))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel"/>
            <div>
                <input type="submit" value="Завантажити"/>
            </div>
        </div>
    }
</div>
<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>
<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <td>
                @if (item.Address!=null && item.Address.Length > 28)
                {
                    @:...
                }
                else @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (item.PhoneNumber!=null && item.PhoneNumber.Length > 20)
                {
                    @:...
                }
                else @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if ( item.Email!=null && item.Email.Length > 28)
                {
                    @:...
                }
                else @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                 <a asp-action="Floors" asp-route-id="@item.Name">Поверхи</a>     |
                 <a asp-action="Employee" asp-route-id="@item.Name">Працівники</a>|
                 <a asp-action="Edit" asp-route-id="@item.Name">Редагувати</a>    |
                <a asp-action="Delete" asp-route-id="@item.Name">Видалити</a>     |
                 <a asp-action="Details" asp-route-id="@item.Name">Детально</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості студентів та гуртожитків",
                    width: 500,
                    height: 400,
                    backgroundColor: '#222222',
                    titleTextStyle: {color: 'white'},
                    legendTextStyle: {color: 'white'}
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
