@model dormitory.LR

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LaundryRoom</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaundryRoom.NumberOfDryer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaundryRoom.NumberOfDryer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaundryRoom.NumberOfWashingMachine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaundryRoom.NumberOfWashingMachine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Info)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Area)
        </dd>
    </dl>
</div>
<div>
  @Html.ActionLink("Edit", "Edit", new { NumberRoom=Model.Room.Number,NameDormitory=Model.LaundryRoom.NameDormitory }) |
    <a asp-action="Index" asp-route-NumberFloor=@Model.Room.NumberFloor asp-route-NameDormitory=@Model.LaundryRoom.NameDormitory>Back to List</a>
</div>
